.home-container {
  font-family: 'Montserrat', sans-serif; /* Changed font */
}

.header-section {
  /* background: url('./Images/LogoImage.jpg') no-repeat center center/cover; */
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section img.image {
  width: 40%;
  border-radius: 10px;
}

.section .content {
  width: 50%;
}

.waitlist-section {
  background-color: #343a40;
  color: white;
  text-align: center;
}

.contact-section {
  background-color: #f8f9fa;
  text-align: center;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}